* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    max-width: 80%;
    width: 575px;
    height: 385px;
    margin: auto;
    background-color: #075985; 
}

@font-face {
    font-family: CursedTimerUlil;
    src: url(CursedTimerUlil-Aznm.ttf);
}

h1{
    color: #EEEEEE;
}

.score-container {
    width: 155px;
    height: 120px;
    border: 3px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: CursedTimerUlil;
    font-size: 70px;
    color:#F94F6D;
    background-color: black;
}

.add-points-btn{
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    font-family: CursedTimerUlil;
    font-size: 24px;
    color: #7DD3FC;
    border: 1px solid #7DD3FC;
    background-color: #075985;
}

.main-part {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin: 25px auto;  
    max-width: 80%;
}

.bottom-part {
    width: 575px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
    max-width: 100%;
}

#new-game-btn {
    padding: 10px 30px;
    font-family: CursedTimerUlil;
    font-size: 24px;
    color: #7DD3FC;
    border: 1px solid #7DD3FC;
    background-color: #075985;
}