* {
    box-sizing: border-box;
}
body {
    margin: 25px;
    min-width: 320px;
}

.container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 575px;
    height: 385px;
    margin: auto;
    background-color: #075985; 
    border: 10px solid #7DD3FC;
    border-radius: 10px;
}

@font-face {
    font-family: CursedTimerUlil;
    src: url(CursedTimerUlil-Aznm.ttf);
}

h1{
    color: #EEEEEE;
}

.score-container {
    width: 155px;
    height: 120px;
    border: 3px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: CursedTimerUlil;
    font-size: 70px;
    color:#F94F6D;
    background-color: black;
    border:none;
}

.add-points-btn {
    width: 155px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.timer-handle-btn {
    width: 155px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7px;
}

button {
    font-family: CursedTimerUlil;
    font-size: 24px;
    color: #7DD3FC;
    border: 1px solid #7DD3FC;
    background-color: #075985;
    box-shadow: 2px 2px 1px black;
    border-radius: 10px;
}

.main-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    width: 450px;
    margin: 25px auto;  
    
}

.bottom-part {
    width: 575px;
    display: flex;
    justify-content: center;
    gap:12px;
    margin-bottom: 25px;
    
}

#new-game-btn, #start-game-btn {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    font-family: CursedTimerUlil;
    font-size: 24px;
    color: #7DD3FC;
    border: 1px solid #7DD3FC;
    background-color: #075985;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;   
    height: 150px; 
}

#timer {
    padding: 10px 20px;
    height: 45px;
    width:155px;
    font-family: CursedTimerUlil;
    font-size: 24px;
    color: #7DD3FC;
    border: 1px solid #7DD3FC;
    background-color: #075985;
}

img {
    height: 25px;
    width: 25px;
}

